@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800&family=Nunito:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@500;600;700;800&family=Rubik:wght@400;500;600;700;800;900&display=swap');


/* font-family: 'Jost', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Jost', sans-serif;
}

:root {
  --theme-color: #265073;
  --theme-hover-clor: #133653;
  --coloe1: #2D9596;
  --coloe2: #9AD0C2;
  --coloe3: #2D9596;
  --coloe4: #2D9596;

}



a {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}
.red-text{
  color: red;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




.navbar_main_container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);


}

.short_nav_container {
  height: 75px;
  background-color: #f5f5f5;
  align-items: center;
  display: flex;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;

}

.logo_text {
  align-items: center;
  display: flex;
}

.main_nav__logo {
  height: 50px;
}

.main_nav__logo img {
  /* width: 100%; */
  height: 100%;
  margin-left: 20px;
}


.logo_text h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  color: rgb(32, 32, 32);
  text-shadow: 3px 3px 3px rgba(99, 99, 99, 0.3);
}

.navbar_container {
  height: 55px;
  background-color: var(--theme-color);
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.5s;


}


.main_nav {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
}


.navbar__toggle {
  font-size: 28px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px;
  color: rgb(0, 0, 0);
  z-index: 10000;
  /* margin-right: 20px; */
}


.navbar__logo,
.navbar__toggle {
  display: none;
}


.nav__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;


  justify-content: space-between;
}


.main_nav_logo {
  width: 250px;
  margin-left: 20px;

}

.main_nav_logo img {
  width: 100%;
  height: 100%;
}



.nav__list {
  display: flex;
  align-items: center;
}

.nav__list a {
  color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
}

.nav__list_scrolled a {
  color: rgb(0, 0, 0);
}



.nav__item {
  align-items: center;
  margin-right: 5px;
  padding: 0px 10px;
  line-height: 55px;
  font-size:16px;
}




.nav__item:hover {
  transition: ease-in 0.5s;
  /* background-color: whitesmoke; */

  background-color: var(--theme-hover-clor);
}

.active_nav:hover {
  transition: ease-in 0.5s;
  /* background-color: whitesmoke; */

  background-color: var(--theme-hover-clor);

}

.active_nav {
  align-items: center;
  margin-right: 5px;
  padding: 0px 10px;
  line-height: 55px;
  font-size: 16px;
  background-color: var(--theme-hover-clor);
}

.dropdown_nav {
  display: flex;
  align-items: center;
}

.dropdown_nav .fa {
  font-size: 10px;
  padding: 5px;
  font-weight: lighter;

}

.dropdown_content {
  display: none;
  position: absolute;
  top: 130px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 0px 0px;
  border-top: 2px solid #bbbbbb;
  width: 220px;
  padding: 10px 0px;
}

.dropdown_link {
  padding: 10px 20px;
  width: 100%;
  display: inline-block;
}

.dropdown_link:hover {
  background-color: rgba(178, 175, 175, 0.2);
}

.dropdown_link {
  color: black;
}

.dropdown_link:hover {
  color: var(--theme-color);
}

.dropdown_nav:hover+.dropdown_content {
  display: block;
}

.dropdown_content:hover {
  display: block;
}

.dropdown_content a {
  color: black !important;
}


.dasboard_page_container {
  height: calc(100vh - 130px);
  margin-top: 130px;
  overflow-y: scroll;

}



.main_page_container {
  margin-top: 130px;
  min-height: calc(100vh - 130px);
  /* position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px; */
}






.main_dashboard {
  width: 100%;
  height: 100%;
  display: flex;

}

.left_panel_equal {
  width: 50vw;
  padding: 10px;
  overflow-y: scroll;
  background-color: whitesmoke;


}

.right_panel_equal {
  width: 50vw;
  padding: 10px;
  height: calc(100vh - 130px);
  background-color: whitesmoke;

}

.card_container {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
  margin-bottom: 20px;

}





.coordinates_container {
  position: absolute;
  bottom: 25px;
  right: 10px;
  background-color: white;
  padding: 5px;
  width: 200px;
  border-radius: 3px;
  z-index: 1000;
}

.zoom_btn {
  z-index: 1000 !important;
  position: absolute;

  top: 135px;
  margin-left: 11px;
  background-color: white;
  /* padding: 10px; */
  border: none;
  font-size: 20px;
  border-radius: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}








.defination_container p {
  font-size: 16px;
}

.defination_container h4 {
  font-size: 22px;
  /* margin: 0px; */
}


.item-heading p {
  font-size: 16px;


}




.legend-panel {
  width: 100%;
  max-width: 120px;
  z-index: 1000 !important;
  position: absolute;
  bottom: 50px;
  left: 10px;

}

.legend-panel img {
  width: 100%;
}





.legend_container {
  /* width: 100%; */
  background-color: white;
  padding: 5px;
  max-width: 250px;
  z-index: 1000 !important;
  position: absolute;
  bottom: 50px;
  left: 10px;

}

.legend_heading p {
  font-size: 16px;


}

.legend-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 20px;

}

.legend-color-container {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;

}

.legend-color {
  width: 100%;
  height: 20px;
  border: black 0.5px solid;
  width: 200px;

}

.legend_right_arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  /* border-left: 25px solid #D04848; */
  border-bottom: 10px solid transparent;

}

.legend_left_arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  /* border-right: 25px solid #6895D2; */
  border-bottom: 10px solid transparent;
}

.legend-num-value {
  font-size: 14px;
}












/* ......................... */
/* Footer */
/* ......................... */

.footer-section {
  background: rgb(249, 249, 249);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, .15);
}

.footer-container {
  margin: 0px 30px;
}

.footer-cta {
  border-bottom: 1px solid #949494;
  padding: 15px 0px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0px;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-logo img {
  max-width: 350px;
}

.footer-text p {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.footer-text a {
  text-align: center;
  font-size: 16px;

}


.copyright_container {
  background: whitesmoke;
  padding: 30px 30px;
}

.copyright-text p {
  font-size: 16px;
  color: #000000;
  text-align: center;
}



.map_options_container{
z-index: 10000;
position: absolute;
top: 10px;
right: 10px;
max-width:140px ;
}
.map_options_container select{
  font-size: 0.75rem;
  width: 100%;
}



/* ------------------------ */
/* Preloader */
/* ------------------------ */
.main_preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  flex-direction: column;
  background-color: whitesmoke;
  z-index: 100000;
}

.loading_text {
  text-align: center;
  margin-top: 50px;
}

.main_loader {
  color: var(--theme-color);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


.overview_icons {
  width: 100%;
  /* padding: 10px; */
}

.overview_icons img {
  width: 100%;
}

.overview_decsription {}

.overview_decsription h5 {
  font-size: 20px;
}

.overview_decsription p {
  font-size: 14px;

}



.item_table_container {
  max-height: 400px;
  overflow-y: scroll;
}

.item_table th {
  padding: 5px;
  text-align: left;
  background-color: var(--theme-color);
  font-size: 14px;
  color: white;
}


.item_table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;

}

.item_table td,
.item_table th {
  border: 1px solid #ddd;
  padding: 3px;
  font-size: 14px;

}

.item_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.item_table tr:hover {
  background-color: #ddd;
  font-size: 16px;
}







.map_layer_loader_container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;



}

.map_loader_container {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;


}

.map_loader_container .map_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #05aa83;
  width: 120px;
  height: 120px;
  -webkit-animation: spinMapLayerLoader 2s linear infinite;
  animation: spinMapLayerLoader 2s linear infinite;
}

@-webkit-keyframes spinMapLayerLoader {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinMapLayerLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}